html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.logo {
  width: 40%;
  height: auto;
  margin-top: 0px;
  text-decoration: none;
}

/* === HEADER  === */

header {
  background: rgb(27, 58, 87);
  background: linear-gradient(
    90deg,
    rgba(27, 58, 87, 1) 0%,
    rgba(0, 198, 200, 1) 51%,
    rgba(0, 198, 200, 1) 69%
  );

  height: 60px;
}

#containerNavbar {
  padding: 0;
  margin: 60px;
}

#navbarButtons {
  margin-right: 0px;
}

.navbarNav {
  margin-left: 120px;
}

.nav-item {
  margin-bottom: 0px;
}

/* === HEADER BUTTONS  === */

.bottoneNav {
  margin-left: 100px;
  font-size: 16px;
  background-image: linear-gradient(to right, white, white 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.bottoneNav::before {
  content: "";
  background: rgb(27, 58, 87);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.bottoneNav:hover {
  background-position: 0;
}

.bottoneNav:hover::before {
  width: 100%;
}

#testoMain {
  margin-top: 100%;
}

/* === DIV STYLE  === */

.demo-wrap1 {
  overflow: hidden;
  position: relative;
  height: 100vh;

}

.demo-bg1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  filter: brightness(60%);
}

.demo-content1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effect-div1 {
  --g: 4px; /* spaziatura*/
  --b: 5px; /* spessore bordo*/
  --c: rgb(255, 255, 255);
  --font-size: 10px;

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 175%) 0, var(--_g2) 0 var(--_p, 175%),
    var(--_g1) var(--_p, 175%) 100%, var(--_g2) 100% var(--_p, 175%); /* var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);*/
  background-size: 200% var(--b), var(--b) 200%;
  cursor: auto;
  filter: grayscale(50%);
  transition: 0.25s;
  font-size: var(--font-size);
}

.effect-div1:hover {
  --_p: 75%;
  filter: grayscale(0%);
  --c: rgb(58, 211, 238);
  transition: 1s;
}

.effect-div1:hover .mainTitle1 {
  color: rgb(58, 211, 238); /* Cambia il colore del testo durante l'hover */
  transition: 0.25s;
}

/* === TEXT STYLE1 === */

#mainText1 {
  color: #ffffff;
  width: 50%;
  font-size: 20px;
  margin-top: 15%;
  width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  margin: 20px;
}

.mainTitle1 {
  margin: 25px;
}

/* ===  DIVSTYLE2  === */



.demo-content2 {
  display: flex;
  justify-content: center;
}

.effect-div2 {
  --g: 4px; /* spaziatura */
  --b: 5px; /* grandezza bordo*/
  --c: rgb(47, 95, 140);
  --font-size: 10px;

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 175%) 0, var(--_g2) 0 var(--_p, 175%),
    var(--_g1) var(--_p, 175%) 100%, var(--_g2) 100% var(--_p, 175%); /* var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);*/
  background-size: 200% var(--b), var(--b) 200%;
  cursor: auto;
  filter: grayscale(50%);
  transition: 0.25s;
  font-size: var(--font-size);
}

.effect-div2:hover {
  --_p: 75%;
  filter: grayscale(0%);
  --c: rgb(58, 211, 238);
  transition: 1s;
}

.effect-div2:hover .mainTitle2 {
  color: rgb(58, 211, 238); /* Cambia il colore del testo durante l'hover */
  transition: 0.25s;
}

/* === TEXT STYLE2 === */

#mainText2 {
  color: #000000;
  width: 50%;
  font-size: 20px;
  height: 400px;
  width: 1100px;
  margin-top: 100px;
  margin-bottom: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle2 {
  margin-top: 70px;
}

/* ===  CAROUSEL  === */

.carouselMain {
  display: flex;
  justify-content: flex-start; /* Allinea il contenitore a sinistra */
}

.carousel-container {
  display: flex;
}

.carousel-container .carousel {
  flex: 1;
}

.demo-wrapCar {
  margin-left: 20px; /* Aggiunge uno spazio tra il carousel e il testo */
}

.effect-divCar {
  --g: 4px; /* spaziatura*/
  --b: 5px; /* spessore bordo*/
  --c: rgb(47, 95, 140);
  --font-size: 10px;

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 175%) 0, var(--_g2) 0 var(--_p, 175%),
    var(--_g1) var(--_p, 175%) 100%, var(--_g2) 100% var(--_p, 175%); /* var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);*/
  background-size: 200% var(--b), var(--b) 200%;
  cursor: auto;
  filter: grayscale(50%);
  transition: 0.25s;
  font-size: var(--font-size);
}

.effect-divCar:hover {
  --_p: 75%;
  filter: grayscale(0%);
  --c: rgb(58, 211, 238);
  transition: 1s;
}

.effect-divCar:hover .mainTitleCar {
  color: rgb(58, 211, 238); /* Cambia il colore del testo durante l'hover */
  transition: 0.25s;
}

/* === CAROUSEL TEXT === */

#mainTextCar {
  color: #000000;
  width: 50%;
  font-size: 20px;
  height: 300px;
  width: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitleCar {
  margin-top: 25px;
}

/* ===  DIVSTYLE3  === */

.demo-wrap3 {
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin-top: 100px;
}

.demo-bg3 {
  filter: brightness(50%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.demo-content3 {
  position: relative;
  margin-top: 10%;
  margin-left: 30%;
  height: 400px;
  
}

.effect-div3 {
  --g: 4px; /* spaziatura*/
  --b: 5px; /* spessore bordo*/
  --c: rgb(255, 255, 255);
  --font-size: 10px;

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 175%) 0, var(--_g2) 0 var(--_p, 175%),
    var(--_g1) var(--_p, 175%) 100%, var(--_g2) 100% var(--_p, 175%); /* var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);*/
  background-size: 200% var(--b), var(--b) 200%;
  cursor: auto;
  filter: grayscale(50%);
  transition: 0.25s;
  font-size: var(--font-size);
}

.effect-div3:hover {
  --_p: 75%;
  filter: grayscale(0%);
  --c: rgb(58, 211, 238);
  transition: 1s;
}

.effect-div3:hover .mainTitle3 {
  color: rgb(58, 211, 238); /* Cambia il colore del testo durante l'hover */
  transition: 0.25s;
}

/* === TEXT STYLE3 === */

#mainText3 {
  color: #ffffff;
  width: 50%;
  margin-left: 10%;
  font-size: 20px;
  height: 350px;
  width: 1000px;
  margin-top: 20%;



  display: flex;
  flex-direction: column;
}

.col {
  margin: 20px;
}

.mainTitle3 {
  margin: 25px;
}

/* ===  RESPONSIVE  === */

/* TABLET */

@media (min-width:601px) and  (max-width: 1024px) {


  /* Riduci la dimensione del logo */
  .logo {
    width: 30%;
  }

    /* Riduci il margine del container del navbar */
  #containerNavbar {
    margin: 20px;
  }
  
    /* Riduci il margine e la dimensione del testo del bottone nella navbar */
  .bottoneNav {
    margin-left: 50px;
    font-size: 14px;
  }
  

  #imgBg{
    height: 600px;
  } 

  .demo-wrap1{
    height: 600px;
    display: flex;
    justify-content: center;
  }
  .demo-content1{
    display: flex;
    justify-content: center;
  }

  .demo-wrap2{
    height: 400px;
  }


  .demo-content2{
    display: flex;
    justify-content: center;
  }

  .effect-div1,
  .effect-div2,
  .effect-div3,
  .effect-divCar{
    --b:3px;
    display: flex;
    justify-content: center;
 
  }

  .carousel-container{
    display: block;
  }

  .demo-wrapCar{
    margin:0%;
    height:fit-content;
    margin-top: 130px;
    display: flex;
    justify-content: center;
  

  }

  .demo-contentCar{
    display: flex;
    justify-content: center; 
    height: fit-content;
  }


  #mainTextCar{
    margin: 0 ;   
  }

  /* Riduci la dimensione dei titoli principale */
  .mainTitle1,
  .mainTitle2,
  .mainTitle3,
  .mainTitleCar {
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }

  /* riduci la dimensione del testo*/
  #mainText1,
  #mainText2,
  #mainText3,
  #mainTextCar {
  
    font-size: 15px;
  height: auto; /* Modifica l'altezza in auto */

  }

  /* Riduci la larghezza del testo principale nei contenitori principali */
  #mainText1,
  #mainText2,
  #mainText3 {
    width: 80%;
  }

  #mainText1{
    margin: 0;
  }

  /* Riduci la larghezza del testo principale nel carousel */
  #mainTextCar {
    width: 70%;
  }

  .demo-wrap3 {
    height: max-content;
    margin-top: 100px;
  }
  
  .demo-bg3 {
    filter: brightness(50%);
    position: absolute;
    width: 100%;
  }
  
  .demo-content3 {
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
  
  }
}



@media (max-width: 576px) {
  /* Dispositivi mobili */

  
  /* Riduci ulteriormente il margine del container del navbar */
  #containerNavbar {
    margin: 5px;
    height: 50px; 
    
  }

  #navbar-logo{
    width: 100px;
    margin-bottom: 15px;
  }

  /* Riduci ulteriormente la dimensione del logo */
  .logo {
    width: 100%;
  }

  #bottoneTendina{
    width: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

  }

  #logoTendina{
    width: 15px;
    
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Sfondo bianco */
    padding: 2rem;
    width: 70%; /* Larghezza del menu */
    z-index: 1000;
    overflow-y: auto; /* Aggiungi scorrimento verticale se necessario */
    transform: translateX(100%); /* Inizialmente nascosto fuori dallo schermo */
    transition: transform 0.3s ease-in-out; /* Aggiungi un'animazione al menu */
  }

  /* Mostra il menu quando è aperto */
  .navbar-collapse.show {
    transform: translateX(0); /* Sposta il menu dentro lo schermo */
  }

  /* Aggiusta lo stile dei link nel menu */
  .navbar-collapse a {
    color: black; /* Colore del testo */
    font-size: 1.2rem; /* Dimensione del testo */
    display: block;
    margin-bottom: 1rem; /* Spazio tra i link */
  }


  /* Riduci ulteriormente la dimensione del testo del bottone nella navbar */
  .bottoneNav {
    margin-left: 30px;
    font-size: 12px;
  }

  #imgBg{
    height: 300px;
  } 

  .demo-wrap1{
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .demo-content1{
    display: flex;
    justify-content: center;
  }

  .demo-wrap2{
    height: 400px;
  }


  .demo-content2{
    display: flex;
    justify-content: center;
  }

  .effect-div1,
  .effect-div2,
  .effect-div3,
  .effect-divCar{
    --b:1px;
    display: flex;
    justify-content: center;
 
  }

  .carousel-container{
    display: block;
  }

  .demo-wrapCar{
    margin:0%;
    height:fit-content;
    margin-top: 130px;
    display: flex;
    justify-content: center;
  

  }

  .demo-contentCar{
    display: flex;
    justify-content: center; 
    height: fit-content;
  }


  #mainTextCar{
    margin: 0 ;   
  }

  /* Riduci la dimensione dei titoli principale */
  .mainTitle1,
  .mainTitle2,
  .mainTitleCar {
    font-size: 15px;
    padding: 0;
    margin-bottom: 0;
  }
  
  .mainTitle3{
    font-size: 15px;
    margin: 0;
  }
  /* riduci la dimensione del testo*/
  #mainText1,
  #mainTextCar {
  
    font-size: 12px;
  height: auto; /* Modifica l'altezza in auto */

  }



  /* Riduci la larghezza del testo principale nei contenitori principali */
  #mainText1,
  #mainText2 {
    width: 80%;
  }

  #mainText1{
    margin: 0;
  }

  #mainText2{
    font-size: 12px;
    height: 250px;
  }

  #mainText3{
    width: 350px;
    margin-top: 0;
    font-size: 12px;
    height: 180px;
    display: flex;
    justify-content: center;
    

  }
  
  #col3{
    margin: 0;
    margin-left: 5px;
  }

  /* Riduci la larghezza del testo principale nel carousel */
  #mainTextCar {
    width: 70%;
  }

  .demo-wrap3 {
    height: max-content;
    margin-top: 100px;
  }
  
  .demo-bg3 {
    filter: brightness(50%);
    position: absolute;
    width: 100%;
    
  }
  
  .demo-content3 {
    position: relative;
    height: 300px;
    margin-left: 0;  
  }
}


